{% extends 'website/base.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block css %}
<style>
  .navbar-brand {display:none;}
</style>
{% endblock %}

{% block content %}

    <div id="head" class="jumbotron text-center m-0 d-flex justify-content-center">

      <video autoplay muted playsinline class="bg-video">
        <source src="{% static 'website/videos/acceuil_mobile_2026.mp4' %}" type="video/mp4" media="(max-width: 767px)">
        <source src="{% static 'website/videos/acceuil_2026.mp4' %}" type="video/mp4">
      </video>
  
      <div class="container text-white" style="z-index: 2;">

        <div id="video_overlay">

          <img src="{% static 'website/images/logo_trail_du_leberou.svg' %}" style="max-width:100%;">
 
          <div id="edition">2ème édition</div>
          <br/>
          <div id="date_event"><strong>14 NOVEMBRE 2026</strong></div>

          {% if messages %}
            {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
              {{ message }}
            </div>
            {% endfor %}
          {% endif %}

          <div class="box pt-4">
            <a href="https://sport.ikinoa.com/fr/evt/trailduleberou2026-6715" target="_blank">
            <div class="btn-inscription">
              <span><strong>INSCRIPTION</strong></span>
            </div>
            </a>
          </div>
        </div>

      </div>
    </div>

    </div>

    <!-- /.jumbotron -->
    </br>

    <span id="accueil" class="anchor"></span>

    <div class="jumbotron">
      <div class="container">
        <div class="row justify-content-center">
          <div class="section_title">
            <h1>ACCUEIL</h1>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-lg-4 animate-on-scroll text-white px-4 align-self-center" style="background: pink;">
            <div class="p-4">
            <h3 style="color:white !important;">BIENVENUE AU TRAIL DU LÉBÉROU, UN TRAIL NOCTURNE AU COEUR DU PÉRIGORD NOIR INSPIRÉ D’UNE LEGENDE !</h3>
            <p>Venez incarner l’être mythologique périgordin et parcourir les chemins de nuit à travers la campagne.</p>
            <p>Pour cette deuxième édition, trois circuits sont proposés; Les trois clochers (31 km), le Tour des fontaines (12 km) et la Balade au clair de Lune (7 km)</a>.</p>
            <p>Pour chaque parcours, une partie se déroulera de nuit et des animations seront proposées pour accompagner les coureurs et marcheurs sur les chemins.</p>
            <p>A la fin des épreuves, il sera proposé aux participants de se réunir pour partager un repas dans la bonne ambiance suivi d'un concert. </p>
            </div>
          </div>
          <div class="col-lg-8 animate-on-scroll px-4">
            </br></br>
            <img id="trail_du_leberou" class="img-fluid mx-auto d-block" src="{% static 'website/images/clocher.svg' %}" alt="dessin du clocher d'Audrix" style="max-width:30%;max-height:30%;min-width:20%;min-height:20%;">
            </br>
            <h3 class="text-center">L'HISTOIRE</h3>
            </br>
            <p>La nuit tombe doucement sur les collines du Périgord. Le calme qui l’accompagne est rompu par un bruit étrange en provenance de la fontaine... Une métamorphose opère, le Lébérou va commencer sa course au clair de Lune. Cet être maudit, qui prend l’apparence d’un lièvre (en occitan 'La Lebre' se traduit par 'le lièvre'), s’élance sur les chemins afin de rompre la malédiction qui l’a touché pour ses mauvais agissements.</p>
            <p>Afin de se purifier, il devra passer à quatre pattes, à l’ombre de la Lune, sous sept clochers avant l’aube. 
            <p>La lourdeur de sa tache a inspiré l’expression occitane «Veilo, cort coma un Lebero» se traduisant par «Regarde le, il court comme un Lébérou» pour désigner quelqu’un de pressé.</p>
          </div>
        </div>
      </div>
    </div>

    <span id="programme" class="anchor"></span>

    <div class="jumbotron" style="background: pink;">
      <div class="container">
        <div class="row justify-content-center">
          <div class="section_title">
            <h1>LE PROGRAMME</h1>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="card display-lg">
              <div class="card-body">
                              
                <div id="content">
                  <ul class="timeline">
                    <li class="animate-on-scroll">
                      <h2 style="text-align: center;">14 NOVEMBRE 2026</h2></br></br>
                    </li>
                    {% for course in courses %}
                    <li class="event animate-on-scroll" data-date="{{ course.heure_depart }}h">
                      <h5>DÉPART: <a href="{% url 'course_detail' slug=course.slug %}">{{ course.nom|upper }}</a></h5>
                      <p></p>
                    </li>
                    {% endfor %}

                    <li class="event animate-on-scroll" data-date="19h30">
                      <h5>DÉBUT DE LA SOIRÉE</h5>
                      <p>Tourrain périgourdin (soupe) offert à tous les participants.</p>
                      <p>Restauration sur place. Repas à réserver en avance. Buvette disponible.</p>
                    </li>
                    <li class="event animate-on-scroll" data-date="21h">
                      <h5>CONCERT</h5>
                      <p><a href="https://www.submithub.com/link/https-www-youtube-com-tavikurdishmusi?fbclid=IwY2xjawOyJRJicmlkETFZSHgwMlZvY2ZmdUI0dWZTc3J0YwZhcHBfaWQQMjIyMDM5MTc4ODIwMDg5MgABHs2KXgLP7xGtYiGfXAdRnUxl9xISxFPgo15DmOUNN02ynBftNCXqn1qdK_nK&brid=UvG87A6Ckb9FgisQ3wQnvA"><u>TAVÎ</u></a></p>
                      <img class="img-fluid mx-auto d-block" src="{% static 'website/images/TAVI_groupe_musique.png' %}" alt="Photo du groupe" style="max-width:100%;max-height:100%;">
                      <p>À travers ses performances, TAVÎ propose un répertoire mêlant chansons populaires kurdes interdites (qaçax), compositions originales, chants de résistance, et ballades inspirées du Dengbêj. Son univers musical incarne à la fois l’héritage et la modernité, un cri d’exil et d’espoir.</p>
                    </li>
                    -->
                  </ul>
                </div>
              </div>
            </div>


            <div class="card display-sm">
              <div class="card-body">         
                <div id="content">
                  <h2 style="text-align: center;">14 NOVEMBRE 2026</h2></br>

                  {% for course in courses %}
                  <div class="event-small">
                    <p>{{ course.heure_depart }}</p>
                    <h5>DÉPART: <a href="{% url 'course_detail' slug=course.slug %}">{{ course.nom|upper }}</a></h5>
                  </div>
                  {% endfor %}
                  
                  <div class="event-small">
                    <p>19h30</p>
                    <h5>DÉBUT DE LA SOIRÉE</h5>
                    <p>Tourrain périgourdin (soupe) offert à tous les participants.</p>
                    <p>Restauration sur place. Repas à réserver en avance. Buvette disponible.</p>
                  </div>
                  <div class="event-small">
                    <p>21h</p>
                    <h5>CONCERT</h5>
                    <p><a href="https://www.submithub.com/link/https-www-youtube-com-tavikurdishmusi?fbclid=IwY2xjawOyJRJicmlkETFZSHgwMlZvY2ZmdUI0dWZTc3J0YwZhcHBfaWQQMjIyMDM5MTc4ODIwMDg5MgABHs2KXgLP7xGtYiGfXAdRnUxl9xISxFPgo15DmOUNN02ynBftNCXqn1qdK_nK&brid=UvG87A6Ckb9FgisQ3wQnvA"><u>TAVÎ</u></a></p>
                    <img class="img-fluid mx-auto d-block" src="{% static 'website/images/TAVI_groupe_musique.png' %}" alt="Photo du groupe" style="max-width:100%;max-height:100%;">
                    <p>À travers ses performances, TAVÎ propose un répertoire mêlant chansons populaires kurdes interdites (qaçax), compositions originales, chants de résistance, et ballades inspirées du Dengbêj. Son univers musical incarne à la fois l’héritage et la modernité, un cri d’exil et d’espoir.</p>
                  </div>
               
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
    
    <span id="les_courses" class="anchor" style="background:pink"></span>
    
    <div class="jumbotron">
      <div class="container">
        <div class="row justify-content-center">
          <div class="section_title">
            <h1>LES COURSES</h1>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-12 p-lg-4 text-center animate-on-scroll">
            <br/>
            <section class="articles row animate-on-scroll">
            {% for course in courses %}
            <div class="col-md-4 col-sm-12 p-4 p-xs-2">
              <article id="TUILE_{{ course.slug }}" class="course-tile" style="--course-color: {{ course.color }};">
                <div class="article-wrapper">
                  <figure>
                    {% if course.thumbnail %}
                        <img src="{{ course.thumbnail.url }}" alt="{{ course.name }}">
                    {% else %}
                        <p></p>
                    {% endif %}
                  </figure>
                  <div class="article-body">
                    <span class="article_title">{{ course.nom|upper }}</span>
                    <p>{{ course.distance }} km</p>
                    <a href="{% url 'course_detail' slug=course.slug %}" class="read-more">
                      En savoir plus
                      </a>
                  </div>
                </div>
              </article>
            </div>
            {% endfor %}
          </section>
            </div>
          </div>
        </div>
      </div>

      <span id="informations" class="anchor"></span>

      <div class="jumbotron text-center bg-white">
        <div class="container">
          <div class="row justify-content-center">
            <div class="section_title">
              <h1>INFORMATIONS</h1>
            </div>
          </div>
        </div>
      <div class="container">
        <div class="row text-left">
          <div class="col-md-6 col-sm-12 p-4 animate-on-scroll">
            <div>
              <h2>QUAND?</h2>
              <p>Le samedi 14 Novembre 2026.</p>
            </div>
            <div>
              <h2>PARKINGS</h2>
              <ul>
                <li>Devant la <a href="https://maps.app.goo.gl/xdfg3TmUkKSxJfp36" target="_blank" class="a_2">salle des fêtes</a> (restreint selon météo)</li>
                <li><a href="https://maps.app.goo.gl/v6ZNVKxEvVyFoK5L7" target="_blank" class="a_2">Salle des fêtes de Saint Chamassy</a> (40 places) - <span style="color:var(--color3);">20 minutes de marche</span></li>
                <li><a href="https://maps.app.goo.gl/TJaK8cuLSMBA7sBH8" target="_blank" class="a_2">Gouffre de Proumeyssac</a> (200 places) - <span style="color:var(--color3);">20 minutes de marche</span></li>
              </ul>
            </div>
            <div>
              <h2>REPAS</h2>
              <p>A définir</p>
              <p></p>
            </div>
            <div>
              <h2>COMMODITÉS</h2>
              <p>Douches disponibles:</p>
              <ul>
                <li>à la <a href="https://maps.app.goo.gl/eqdpgcPpfPjxnFD67" target="_blank" class="a_2">salle des fêtes</a></li>
                <li>au Camping <a href="https://maps.app.goo.gl/mn6AYBNNu6LbqUK3A" target="_blank" class="a_2">Slow village Séveilles (6 min)</a></li>
                <li>au <a href="https://maps.app.goo.gl/yU94Pca8JYkdjATi8" target="_blank" class="a_2">stade du Bugue</a> (6 min)</li>
              </ul>
              <p>Zone de bivouac mise à disposition par l'Amicale.</p>
              <p>Possibilité de nuit sur place pour les vans / voitures emménagées.</p>
              <p>Hébergements possibles aux alentours.</p>
            </div>
          </div>
          <div class="col-md-6 col-sm-12 animate-on-scroll p-4">
            <h2>OU ?</h2><p><a href="https://maps.app.goo.gl/eqdpgcPpfPjxnFD67" target="_blank" class="a_2">Salle des fêtes d'Audrix (24260).</a></p>
            <p><a href="https://sport.ikinoa.com/fr/events/trailduleberou2026-6715/carpooling/routes" target="_blank" class="a_2">Offre de covoiturage</a> dédiée.</p>

            <img id="head_image" class="img-fluid" src="{% static 'website/images/situation.png' %}" alt="carte dordogne simplifiée; Bergerac, Sarlat, Périgueux depuis Audrix">
          </div>
        </div>
      </div>
    </div>

</div> <!-- Container  -->

  <!--Inqcriptions non ouvertes
  <div class="modal fade" id="inscriptions" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title" id="exampleModalLabel">INSCRIPTIONS</h2>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
        Les inscriptions ne sont pas encore ouvertes. Elles ouvriront prochainement.
        </div>
      </div>
    </div>
  </div>
  -->

<!-- Pop up TRF  -->
<div class="modal fade" id="welcomeModal" tabindex="-1" aria-labelledby="welcomeModalLabel" aria-hidden="true" style="z-index: 1050;">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content border-0 shadow-lg" style="background-color: black; color: #495057;">
      
      <div class="modal-header border-0 pb-0 justify-content-end">
        <button type="button" id="closeModalX" aria-label="Close" style="background: none; border: none; font-size: 1.5rem; color: var(--color3); cursor: pointer;">×</button>
      </div>
      
      <div class="modal-content-body p-4 text-center">
        <div class="mb-3" style="font-size: 3rem;"><img class="img-fluid mx-auto d-block" src="{% static 'website/images/megaphone.png' %}" alt="NEWS" style="max-width:30%;max-height:30%;min-width:20%;min-height:20%;"></div>
        <h3 class="modal-title font-weight-bold mb-3" id="welcomeModalLabel" style="color: var(--color3) !important; font-size: 1.5rem !important;">
          Objectif Éco-Responsable !
        </h3>
        <p class="mb-4" style="color: var(--color2);">
          Pour cette 2ème édition du Trail du Lébérou, nous postulons pour obtenir le label <strong>TRAIL RUNNER FOUNDATION</strong> !
        </p>
        <div class="d-flex flex-column gap-2 justify-content-center align-items-center">
          <div class="box pt-4">
            <a href="{% url 'engagements' %}">
              <div class="btn-inscription btn-inscription-courses" style="background: var(--color3); color: white; border-radius: 4px;">
                <span><strong>Découvrir nos engagements</strong></span>
              </div>
            </a>
          </div>

          <button type="button" id="closeModalLink" class="btn btn-link text-secondary btn-sm mt-3" style="text-decoration: underline; background: none; border: none;">
            Continuer vers le site
          </button>
        </div>
      </div>

    </div>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    // 1. Gestion automatique de la fermeture des alertes (messages Django)
    setTimeout(function() {
        let alerts = document.querySelectorAll('.alert');
        alerts.forEach(function(alert) {
            let bsAlert = new bootstrap.Alert(alert);
            bsAlert.close();
        });
    }, 4000);


    let welcomeModalElement = document.getElementById('welcomeModal');
    let welcomeModal = new bootstrap.Modal(welcomeModalElement);

    // 3. Force la fermeture manuelle au clic sur les boutons pour pallier aux soucis de version Bootstrap
    function hideModal() {
        welcomeModal.hide();
    }
    document.getElementById('closeModalX').addEventListener('click', hideModal);
    document.getElementById('closeModalLink').addEventListener('click', hideModal);

    // 4. Gestion du délai de 10 minutes via LocalStorage
    let now = new Date().getTime();
    let modalHiddenUntil = localStorage.getItem('welcomeModalHiddenUntil');

    // Si aucune restriction de temps n'existe OU si les 10 minutes sont écoulées
    if (!modalHiddenUntil || now > parseInt(modalHiddenUntil)) {
        // On affiche le modal
        welcomeModal.show();
        
        // On calcule le timestamp pour dans 10 minutes (10 min * 60 sec * 1000 ms)
        let expireTime = now + (10 * 60 * 1000);
        localStorage.setItem('welcomeModalHiddenUntil', expireTime);
    }
  });
</script>

{% endblock %}