{% extends 'website/base.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block css %}
<style>
  .navbar-brand {display:none;}
</style>
{% endblock %}

{% block content %}

    <!-- video -->
    <div id="head" class="jumbotron text-center m-0 d-flex justify-content-center">
  
      <div class="container text-white">

        <img id="head_image" class="img-fluid p-4" src="{% static 'website/images/LogoLeberouTrailBlancPersonnage.svg' %}" alt="Lébérou" style="max-width:40%;max-height:40%;min-width:20%;min-height:20%;">
        <div id="head_title">
          <img id="trail_du_leberou" class="img-fluid" src="{% static 'website/images/LogoTrailDuLeberou.svg' %}" alt="TRAIL DU LEBEROU" style="max-width:40%;max-height:40%;min-width:20%;min-height:20%;">
          <div id="date_event">LE SAMEDI 1er NOVEMBRE</div>
          <div id="year_event">2025</div>
          <div id="premiere_edition" class="pt-4">PREMIERE EDITION</div>
          <div class="box pt-4">
            <a href="" style="text-decoration: none;">
            <div class="btn-inscription">
              <span>INSCRIPTION</span>
            </div>
            </a>
          </div>
        </div>

      </div>

      <a href="{% url 'accueil' %}#accueil"><img id="arrow_down" src="{% static 'website/images/arrowdown.svg' %}" style="max-width:10%;max-height:10%;"></a>

    </div>

    <!-- /.jumbotron -->
    </br>

    <span id="accueil" class="anchor"></span>

    <div class="jumbotron">
      <div class="container">
        <div class="row justify-content-center">
          <div class="section_title">
            <h1>ACCUEIL</h1>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-lg-5 text-white text-center animate-on-scroll p-4" style="background:pink;">
            <img id="trail_du_leberou" class="img-fluid" src="{% static 'website/images/ClocherAudrix.svg' %}" alt="TRAIL DU LEBEROU" style="max-width:40%;max-height:40%;min-width:20%;min-height:20%;">
            <h3 class="text-white">L'HISTOIRE</h3>
            <div>Veilo cort com un leberou! Restabat ut Caesar post haec properaret accitus et abstergendae causa suspicionis sororem suam, eius uxorem, Constantius ad se tandem desideratam venire multis fictisque blanditiis hortabatur. quae licet ambigeret metuens saepe cruentum, spe tamen quod eum lenire poterit ut germanum profecta, cu</div>
          </div>
          <div class="col-lg-7 px-5 animate-on-scroll">
            <br/>
            <p>Bienvenue au Trail du Lébérou, un trail ambiance au coeur du Périgord Noir ! </p>
            <p>Pour cette première édition, nous proposons trois circuits ; le Trail des trois clochers (30 km), le Tour des fontaines (12 km) et la Balade au clair de Lune (7 km).</p>
            <p>Pour chaque parcours, une partie se déroulera de nuit et des animations seront proposées pour accompagner les coureurs et marcheurs sur les chemins. A la fin des épreuves, nous proposons aux participants de se réunir pour partager un repas dans la bonne ambiance suivi d'un concert. </p>
          </div>
              
              
        </div>
      </div>
    </div>

    <span id="programme" class="anchor"></span>

    <div class="jumbotron" style="background: pink;">
      <div class="container">
        <div class="row justify-content-center">
          <div class="section_title">
            <h1>LE PROGRAMME</h1>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-12 p-4">
            <div class="card">
              <div class="card-body">
                              
                <div id="content">
                  <ul class="timeline">
                    <li class="event animate-on-scroll" data-date="14h">
                      <h5>RETRAIT DES DOSSARDS</h5>
                      <p>Jusqu'à une heure avant le départ des courses.</p>
                    </li>
                    <li class="event animate-on-scroll" data-date="16h">
                      <h5>DEPART <a href="{% url 'trente_km' %}">TRAIL DES TROIS CLOCHERS</a></h5>
                      <p></p>
                    </li>
                    <li class="event animate-on-scroll" data-date="18h">
                      <h5>DEPART <a href="{% url 'dix_km' %}">TOUR DES FONTAINES</a></h5>
                      <p></p>
                    </li>
                    <li class="event animate-on-scroll" data-date="18h">
                      <h5>DEPART DE LA <a href="{% url 'marche' %}">BALADE AU CLAIR DE LUNE</a></h5>
                      <p></p>
                    </li>
                    <li class="event animate-on-scroll" data-date="20h">
                      <h5>DEBUT DE LA SOIREE</h5>
                      <p>Restauration sur place. Possibilité d'acheter à manger pour les accompagnants. Buvette disponible.</p>
                    </li>
                    <li class="event animate-on-scroll" data-date="21h30">
                      <h5>CONCERT</h5>
                      <p></p>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <span id="les_courses" class="anchor" style="background:pink"></span>
    
    <div class="jumbotron">
      <div class="container">
        <div class="row justify-content-center">
          <div class="section_title">
            <h1>LES COURSES</h1>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-12 p-4 text-center animate-on-scroll">
            <p class="animate-on-scroll">Les trois parcours proposés sont les suivants :</p>
            <br/>
            <section class="articles row animate-on-scroll">

              <div class="col-md-4 col-sm-12 p-4">
                <article>
                  <div class="article-wrapper">
                    <figure>
                      <img src="{% static 'website/images/traildestroisclochers.jpg' %}">
                    </figure>
                    <div class="article-body">
                      <span class="article_title">TRAIL DES TROIS CLOCHERS</span>
                      <p>
                        30 km
                      </p>
                      <a href="{% url 'trente_km' %}" class="read-more">
                        En savoir plus <span class="sr-only"></span>
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 20 20" fill="currentColor">
                          <path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd" />
                        </svg>
                      </a>
                    </div>
                  </div>
                </article>
              </div>

              <div class="col-md-4 col-sm-12 p-4">
                <article>
                  <div class="article-wrapper">
                    <figure>
                      <img src="{% static 'website/images/tourdesfontaines.jpg' %}">
                    </figure>
                    <div class="article-body">
                      <span class="article_title">TOUR DES FONTAINES</span>
                      <p>
                        12 km
                      </p>
                      <a href="{% url 'dix_km' %}" class="read-more">
                        En savoir plus <span class="sr-only"></span>
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 20 20" fill="currentColor">
                          <path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd" />
                        </svg>
                      </a>
                    </div>
                  </div>
                </article>
              </div>

              <div class="col-md-4 col-sm-12 p-4">
                <article>
                  <div class="article-wrapper">
                    <figure>
                      <img src="{% static 'website/images/baladeauclairdelune.jpg' %}">
                    </figure>
                    <div class="article-body">
                      <span class="article_title">BALADE AU CLAIR DE LUNE</span>
                      <p>
                        7 km
                      </p>
                      <a href="{% url 'marche' %}" class="read-more">
                        En savoir plus <span class="sr-only"></span>
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 20 20" fill="currentColor">
                          <path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd" />
                        </svg>
                      </a>
                    </div>
                  </div>
                </article>
              </div>
              </section>
            </div>
          </div>
        </div>
      </div>

      <span id="informations" class="anchor"></span>

      <div class="jumbotron text-center" style="background:white;">
        <div class="container">
          <div class="row justify-content-center">
            <div class="section_title">
              <h1>INFORMATIONS</h1>
            </div>
          </div>
        </div>
      <div class="container">
        <div class="row">
          <div class="col-6 align-middle p-4 animate-on-scroll">
            <div class="animate-on-scroll">
              <h2>QUAND?</h2>
              <p>Le samedi 1 Novembre 2025</p>
            </div>
            <div>
              <h2>PARKING</h2>
              <p>Parking disponible devant la salle des fêtes.</p>
            </div>
            <div>
              <h2>REPAS</h2>
              <p>Repas végétarien (soupe + plat + dessert)</p>
              <p>Réservation obligatoire.</p>
            </div>
            <div>
              <h2>COMMODITES</h2>
              <p>Douche disponible à la salle des fêtes.</p>
              <p>Zone de bivouac mise à disposition par l'Amicale. </p>
              <p>Possibilité de nuit sur place pour les vans/voitures emménagées.</p>
              <p>Hébergements possibles aux alentours : XXXX</p>
            </div>
          </div>
          <div class="col-6 animate-on-scroll p-4">
            <h2>OU ?</h2><p><a href="https://maps.app.goo.gl/4BQPtkNwHRHQC3iX6"><u>Salle des fêtes d'Audrix (24260)</u></a></p>
            <p>Offre de covoiturage dédiée</p>

            <iframe width="70%" height="350" src="https://www.openstreetmap.org/export/embed.html?bbox=0.5245864698204629%2C44.721336005156886%2C1.3705337354454628%2C45.036623205697566&amp;layer=mapnik&amp;marker=44.879195562585195%2C0.9475601026329059"></iframe><br/><small><a href="https://www.openstreetmap.org/?mlat=44.8792&amp;mlon=0.9476#map=11/44.8792/0.9476">Agrandir</a></small>
          </div>
        </div>
      </div>
    </div>

</div> <!-- Container  -->

{% endblock %}