{% extends 'website/base.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container-fluid" style="padding-top: 150px;width: 80%;">

  <div class="row p-4 document">

    <h1black>Conditions générales d'utilisation</h1black>
    <br/><br/>
    <h5>Trail du Lébérou</h5>
    <br/>
    <h3>Introduction</h3>
    <br/> 
    <p>En utilisant <strong>Trail du Leberou</strong>, vous acceptez ces conditions générales. Ces conditions régissent votre utilisation de notre site et de nos services.<p>
    <br/>
    <h3>Utilisation du Site</h3>
    <br/>
    <p><strong>Comportement des Utilisateurs :</strong> Vous vous engagez à utiliser notre site de manière responsable et légale.</p>
    <p><strong>Restrictions :</strong> Il est interdit d’utiliser le site à des fins illégales, frauduleuses ou nuisibles.</p>
    <br/>
    <h3>Propriété Intellectuelle</h3>
    <br/>
    <p><strong>Droits d’Auteur :</strong> Tout le contenu du site est la propriété de Challenge Du Montcalm et est protégé par les lois sur les droits d’auteur.</p>
    <p><strong>Utilisation du Contenu :</strong> L’utilisation du contenu du site à des fins commerciales sans notre autorisation est interdite.</p>
    <br/>
    <h3>Limitation de Responsabilité</h3>
    <br/>
    <p><strong>Responsabilité de Trail du Lébérou :</strong> Nous ne pouvons être tenus responsables des dommages indirects résultant de l’utilisation du site.</p>
    <p><strong>Fiabilité des Informations :</strong> Bien que nous nous efforcions de fournir des informations précises, nous ne pouvons garantir l’exactitude complète du contenu du site.</p>
    <br/>
    <h3>Modifications des Conditions</h3>
    <br/>
    <p><strong>Droit de Modification :</strong> Nous nous réservons le droit de modifier ces conditions à tout moment.</p>
    <p><strong>Notification des Changements :</strong> Les modifications seront publiées sur notre site et entreront en vigueur dès leur publication.</p>
    <br/>
    <h3>Contact</h3>
    <br/>
    <p><strong>Questions et Commentaires :</strong> Pour toute question relative à ces conditions, veuillez nous contacter à : <a href="mailto:trailduleberou@ik.me">trailduleberou@ik.me</a></p> 
    

  </div>

</div>

{% endblock %}