{% extends 'website/base.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block content %}



<div class="container pt-4">
  <div class="row p-lg-5 p-md-2 p-sm-2 p-xs-2">
    <div class="col-md-5 col-sm-12 pb-4 order-2">
      <img class="img-fluid" src="{% static 'website/images/tourdesfontainestrace.PNG' %}">
    </div>
    <div class="col-md-7 col-sm-12 order-1">
      <p>Juste après la départ de la place d'Audrix, le Lébérou sera emmené a faire une petit boucle avec des vues sur la vallée de la Dordogne pour découvrir en remontant sur le point de départ le lavoir de la Servantie. Une descente l'emmènera ensuite vers l'entrée naturelle du Gouffre de Proumeyssac. S'ensuivra la côte du Muscle avec des vues sur la Vézère puis le passage par deux lavoirs juste après le hameau. Le Lébérou redescendra ensuite vers la combe de l'Ouital, cheminera le long du cours d'eau pour arriver sur la dernière montée vers le lavoir de Gravard.</p>
      <p>Un parcours avec 95% de chemins sur le thème de l'eau.</p>
    </div>
  </div>
  <div class="row animate-on-scroll justify-content-center px-5 pb-5">
    <img class="img-fluid" src="{% static 'website/images/tourdesfontainesdeniv.PNG' %}">
  </div>
</div>

{% endblock %}