{% extends 'website/base.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block content %}

<div id="bg_10km" class="container-fluid" >

  <div class="row justify-content-center">
    <div class="section_title"><h1>TOUR DES FONTAINES</h1></div>
  </div>
  <div class="row justify-content-center p-4">
    <div class="col-3 d-flex justify-content-center">
      <div id="counter_km_10" class="counter-container"></div><span class="d-flex align-items-center text-white">km</span>
    </div>
    <div class="col-3 d-flex justify-content-center">
      <div id="counter_d_10" class="counter-container"></div><span class="d-flex align-items-center text-white">D+</span>
    </div>
  </div>
  <div class="row justify-content-center p-4">
    <div class="btn-inscription btn-inscription-courses">
      <span>INSCRIPTION</span>
    </div>
  </div>
</div>

<div class="container">
  <div class="row animate-on-scroll p-5">
    <div class="col-5">
      <img class="img-fluid" src="{% static 'website/images/tourdesfontainestrace.png' %}">
    </div>
    <div class="col-7">
      <p></p>
    </div>
  </div>
  <div class="row animate-on-scroll justify-content-center px-5 pb-5">
    <img class="img-fluid" src="{% static 'website/images/tourdesfontainesdeniv.png' %}">
  </div>
</div>

{% endblock %}