{% extends 'website/base.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css" />

<div class="container-fluid document-header"></div>

  <div class="container gallery-container">

    <p class="page-description text-center"></p>
    
    <div class="gallery">
        <div class="row">
          <div><p>Toutes les photos sont disponibles <a href="https://www.swisstransfer.com/d/9615196a-17f4-40ef-867d-452445285eb4" style="color: pink;">ici</a>.</p></div>
        </div>

        <div class="row">
          {% for flag in flags %}
          <div class="col-sm-12 {{ flag.col_class }} animate-on-scroll" style="object-fit: cover;">
            <a class="lightbox" href="{% static flag.path %}">
              <img src="{% static flag.path %}" alt="No image found" class="img-fluid {{ flag.orientation }}"/>
            </a>
          </div>
          {% empty %}
          <div class="col-12 text-center">
            <p class="lead">Les photos n'ont pas encore étés chargées!</p>
            <p>Veuillez revenir plus tard.</p>
          </div>
          {% endfor %}

        </div>

    </div>

</div>
    
<script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.js"></script>
<script>baguetteBox.run('.gallery', {animation: 'fadeIn',noScrollbars: true});</script>

{% endblock %}