{% extends 'website/base.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container-fluid" style="padding-top: 100px;">

  <div class="container gallery-container">

    <p class="page-description text-center"></p>
    
    <div class="tz-gallery">

        <div class="row">
          {% for flag in flags %}
          <div class="col-sm-12 col-md-4 animate-on-scroll">
                <a class="lightbox" href="{% static flag %}">
                    <img src="{% static flag %}" alt="problem" class="img-fluid" />
                </a>
            </div>
          {% endfor %}

        </div>

    </div>

</div>
    

</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.js"></script>
<script>
    baguetteBox.run('.tz-gallery');
</script>

{% endblock %}