{% extends 'website/base.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block content %}

<div id="bg_marche" class="container-fluid" >

  <div class="row justify-content-center">
    <div class="section_title"><h1>BALADE AU CLAIR DE LUNE</h1></div>
  </div>
  <div class="row justify-content-center p-4">
    <div class="col-3 d-flex justify-content-center">
      <div id="counter_km_marche" class="counter-container"></div><span class="d-flex align-items-center text-white">km</span>
    </div>
    <div class="col-3 d-flex justify-content-center">
      <div id="counter_d_marche" class="counter-container"></div><span class="d-flex align-items-center text-white">D+</span>
    </div>
  </div>
  <div class="row justify-content-center p-4">
    <div class="btn-inscription btn-inscription-courses">
      <span>INSCRIPTION</span>
    </div>
  </div>
</div>

<div class="container">
  <div class="row pt-5">
  <p>Restabat ut Caesar post haec properaret accitus et abstergendae causa suspicionis sororem suam, eius uxorem, Constantius ad se tandem desideratam venire multis fictisque blanditiis hortabatur. quae licet ambigeret metuens saepe cruentum, spe tamen quod eum lenire poterit ut germanum profecta, cum Bithyniam introisset, in statione quae Caenos Gallicanos appellatur, absumpta est vi febrium repentina. cuius post obitum maritus contemplans cecidisse fiduciam qua se fultum existimabat, anxia cogitatione, quid moliretur haerebat.</p>
  </div>
</div>

{% endblock %}