{% extends 'website/base.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container-fluid" style="padding-top: 150px;width: 80%;">

  <div class="row p-4 document">

    <h1black>MENTIONS LEGALES</h1black>
    <br/><br/>
    <h5>Trail du Lébérou</h5>
    <br/>
    <h3>INFORMATIONS LEGALES</h3>
    <br/>
    <p><strong>Nom de l'association :</strong> Amicale du Lébérou</p>
    <p><strong>Adresse :</strong> 580 route de Saint Chamassy 24260 AUDRIX</p>
    <p><strong>Numéro de téléphone :</strong> 06 76 22 21 02</p>
    <p><strong>Directeur de la Publication : </strong> Mr. Rémi SAUVE</p>
    <br/>
    <h3>HEBERGEUR DU SITE</h3>
    <br/>
    <p><strong>Nom de l’Hébergeur :</strong> O2Switch, situé à Chem. des Pardiaux, 63000 Clermont-Ferrand</p>
    <p><strong>Contact Hébergeur :</strong> 04 44 44 60 40</p>
    <br/>
    <h3>PROPRIETE INTELLECTUELLE</h3>
    <br/>
    <p><strong>Contenu du Site :</strong> Le contenu de challenge-du-montcalm.com est protégé par les droits d’auteur et appartient à Challenge Du Montcalm</p>
    <br/>
    <h3>RESPONSABILITE</h3>
    <br/>
    <p><strong>Exactitude des Informations :</strong> Bien que nous nous efforcions de maintenir les informations à jour et exactes, nous ne pouvons garantir leur complète exactitude.</p>
  </div>

</div>

{% endblock %}