{% extends 'website/base.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container-fluid document-header"></div>
<div class="container">

  <div class="row p-4 document">

    <img id="trail_du_leberou" class="img-fluid" src="{% static 'website/images/logo_trail_du_leberou.svg' %}" alt="TRAIL DU LEBEROU" style="max-width:40%;max-height:40%;">
    <br/><br/>

    <h1black>MENTIONS LEGALES</h1black>
    <br/><br/>
    <h3>INFORMATIONS LEGALES</h3>
    <br/>
    <p><strong>Nom de l'association :</strong> Amicale du Lébérou</p>
    <p><strong>Adresse :</strong> 580 route de Saint Chamassy 24260 AUDRIX</p>
    <p><strong>Numéro de téléphone :</strong> 06 76 22 21 02</p>
    <p><strong>Directeur de la Publication : </strong> Mr. Rémi SAUVE</p>
    <br/>
    <h3>HEBERGEUR DU SITE</h3>
    <br/>
    <p><strong>Nom de l’Hébergeur :</strong>INFOMANIAK, Plan-les-Ouates (Suisse)</p>
    <p><strong>Contact Hébergeur :</strong>http://www.infomaniak.com</p>
    <br/>
    <h3>PROPRIETE INTELLECTUELLE</h3>
    <br/>
    <p><strong>Contenu du Site :</strong> Le contenu de www.trailduleberou.com est protégé par les droits d’auteur et appartient à l'Amicale du Lébérou</p>
    <br/>
    <h3>RESPONSABILITE</h3>
    <br/>
    <p><strong>Exactitude des Informations :</strong> Bien que nous nous efforcions de maintenir les informations à jour et exactes, nous ne pouvons garantir leur complète exactitude.</p>
  </div>

</div>

{% endblock %}