{% extends 'website/base.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container-fluid" style="padding-top: 150px;width: 80%;">

  <div class="row p-4 document">

    <h1black>REGLEMENT</h1black>
    <br/><br/>
    <h5>Trail du Lébérou</h5>
    <br/>

    <h3>ARTICLE I : ORGANISATION</h3>
    <br/>
    <p>Le trail du Lébérou est une course pédestre de pleine nature sur sentiers forestiers et routes communales organisée par <strong>«Amicale du Lébérou»</strong>, association Loi 1901 à but non lucratif. </p>
    <p>Les participants à ces épreuves déclarent connaître et accepter le règlement et s'engagent à respecter la  charte éthique couvrant l’événement.</p> 
    <p>Épreuves et Parcours</p>
    <ul> 
      <li>Trail du grand Lébérou (30 km) – Dénivelé :  m</li>
      <li>Trail du petit Lébérou (10 km) – Dénivelé : [Y] m</li>
    </ul>
    <p>Parcours balisé, traversant 4 communes de Dordogne, avec passages en forêt, chemins et routes communales.</p> 
  
    <p>Elles se déroulent en individuel, en une seule étape et à allure libre. Les épreuves se courant sur sentiers, mais aussi sur route, les concurrents s'engagent à respecter le code de la route en vigueur. </p>

    <p>L’évènement se déroulera le samedi 1 Novembre 2025 avec son départ et l’arrivée dans la commune d’Audrix.
    De plus, cette manifestation est inscrite au calendrier des Course Hors Stade de Dordogne. Elle est donc  soumise au règlement de la Commission Nationale des Courses Hors Stade.</p> 
    <br/>
    <h3>ARTICLE II – MODALITES ET CONDITIONS DE PARTICIPATION</h3>
    <br/>
    <p>Horaires et Départs</p>
    <ul>
      <li>10 km: Départ à 18h – Arrivée la nuit.</li> 
      <li>30 km: Départ à 16h –  Arrivée la nuit.</li> 
      <li>Retrait des dossards: Début du retrait des dossard à 14h fin à 15h30 pour le 30 km et 17h30 pour le 19h.</li>
    </ul> 
    <p>Le 10 km sera accessible à toute personne née avant le 31 octobre 2009 et le 30 km le 31 octobre 2007. (Un justificatif parentale sera demandé pour les personnes mineures).</p> 
    <p>Les inscriptions se feront obligatoirement via le site: «»</p>
    <p>Elles sont ouvertes officiellement le 1er Juin 2025 à minuit et se clôtureront le 30 Octobre 2025 à minuit.  Lors de l'inscription, une licence FFA (Compétition, Athlé Running, Athlé Entreprise, Pass running), ou une  licence UFOLEP, en cours de validité vous sera demandée. Seront également acceptés les PPS, se substituant  aux certificats médicaux. Attention, ce PPS devra être fourni au plus tard le 30 avril 2025 au risque de  perdre son inscription sans remboursement possible. https://pps.athle.fr/</p>
    <p><strong>ATTENTION : Il n’y aura pas d’inscription sur place le jour de l’évènement.</strong></p>
    <br/>
    <h3>ARTICLE III - SECURITE ET MATERIEL OBLIGATOIRE</h3>
    <br/> 
    <p>Les parcours seront balisés par des banderoles réfléchissantes, marquage au sol et des panneaux. Des bénévoles seront présent tout le long du parcours en cas de problème.</p> 
    <p>Sur les deux parcours, les éco tasses seront fortement conseillé (pas de gobelet au ravitaillement).</p> 
    <p>Matériel obligatoire sur le 30 km:</p>
    <ul> 
      <li>Une lampe frontale en excellent état de marche</li>
      <li>Une réserve d’eau de 500 ml minimum</li>
    </ul>
    <p>Matériel conseillé:</p>
    <ul> 
      <li>Une veste imperméable</li>
      <li>Un téléphone</li>
    </ul>
    <p>Ravitaillements:</p>
    <ul> 
      <li>30 km: 2 postes eau et 2 postes eau + solide.</li>
      <li>10 km: 1 poste eau + solide.</li>
    </ul>
    <p>Interdiction de jeter des déchets hors des zones prévues (risque de disqualification).</p>
    <br/>
    <h3>ARTICLE IV - CLASSEMENTS ET RECOMPENSES</h3>
    <br/>
    <ul>
      <li>Prix pour les premiers de chaque catégorie.</li>
      <li>Prix pour les 5 premiers (Femmes/Hommes) au scratch.</li> 
      <li>Médaille finisher pour tous les arrivants.</li>
    </ul>
    <br/>
    <h3>ARTICLE V - ANNULATION / RESPONSABILITES</h3>
    <br/>
    <p>Annulation en cas d’intempéries majeures (remboursement partiel ou report).</p>
    <p>Assurance responsabilité civile obligatoire. L’organisation décline toute responsabilité en cas d’accident.</p>
    <br/>
    <h3>ARTICLE VI - DROIT A L IMAGE</h3>
    <br/> 
    <p>Le concurrent donne à l’organisation un pouvoir tacite pour utiliser toutes photos, images ou vidéos le représentant. Les coureurs renoncent à tout recours à l'encontre de l'organisation à ce sujet.</p>
    <br/>   
    <h3>ARTICLE 7 - ENVIRONNEMENT</h3>
    <br/>
    <p>Parcours en zone naturelle protégée : respect absolu de la faune/flore.</p>
    <p>Pénalités pour abandon de déchets.</p>
    <br/>
    <p>Consultez le plan détaillé avant la course.</p>

  </div>

</div>

{% endblock %}