{% extends 'website/base.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container-fluid document-header"></div>
<div class="container">

  <div class="row p-4 document">

    <img id="trail_du_leberou" class="img-fluid" src="{% static 'website/images/logo_trail_du_leberou.svg' %}" alt="TRAIL DU LEBEROU" style="max-width:40%;max-height:40%;">
    <br/><br/>

    <h1black>REGLEMENT</h1black>
    <br/><br/>
    <h3>ARTICLE I : ORGANISATION</h3>
    <br/>
    <p>Le trail du Lébérou est une course pédestre de pleine nature sur sentiers forestiers et routes communales organisée par <strong>«Amicale du Lébérou»</strong>, association Loi 1901 à but non lucratif. </p>
    <p>Les participants à ces épreuves déclarent connaître et accepter le règlement et s'engagent à respecter la  charte éthique couvrant l’événement.</p> 
    <p><strong>Épreuves et Parcours</strong></p>
    <ul>
      <li><strong>LES 3 CLOCHERS :</strong> 31 km – Dénivelé : 730 m</li> 
      <li><strong>TOUR DES FONTAINES :</strong> 12 km– Dénivelé : 360 m</li>
      <li><strong>BALADE AU CLAIR DE LUNE :</strong> 6 km</li>
    </ul>
    <p>Parcours balisé, traversant 4 communes de Dordogne, avec passages en forêt, chemins et routes communales.</p> 
  
    <p>Elles se déroulent en individuel, en une seule étape et à allure libre. Les épreuves se courant sur sentiers, mais aussi sur route, les concurrents s'engagent à respecter le code de la route en vigueur. </p>

    <p>L’évènement se déroulera le <strong>samedi 1 Novembre 2025</strong> avec son départ et l’arrivée dans la commune d’<strong>Audrix</strong>.
    De plus, cette manifestation est inscrite au calendrier des Course Hors Stade de Dordogne. Elle est donc  soumise au règlement de la Commission Nationale des Courses Hors Stade.</p> 
    <br/>
    <h3>ARTICLE II – MODALITES ET CONDITIONS DE PARTICIPATION</h3>
    <br/>
    <p><strong>Horaires et Départs</strong></p>
    <ul>
      <li><strong>LES 3 CLOCHERS :</strong> Départ à 16h - arrivée la nuit</li>
      <li><strong>BALADE AU CLAIR DE LUNE :</strong> Départ à 17h - arrivée la nuit</li>
      <li><strong>TOUR DES FONTAINES :</strong> Départ à 18h - arrivée la nuit</li>
    </ul>
    <p><strong>Retrait des dossards</strong></p>
    <ul>
      <li><strong>LES 3 CLOCHERS :</strong> De 18h à 20h le vendredi et de 11h à 15h30 le samedi</li>
      <li><strong>TOUR DES FONTAINES :</strong> De 18h à 20h le vendredi et de 11h à 15h30 le samedi</li>
    </ul>
    <p><strong>Age limite</strong></p>
    <ul>
      <li><strong>LES 3 CLOCHERS :</strong> toute personne née avant le 31 octobre 2007</li>
      <li><strong>TOUR DES FONTAINES :</strong> toute personne née avant le 31 octobre 2009</li>
    </ul>
    <p>(Un justificatif parentale sera demandé pour les personnes mineures).</p>


    <p>Les inscriptions se feront obligatoirement via le site: <a href="www.trailduleberou.fr/">trailduleberou.fr/</a></p>

    <p>Elles sont ouvertes officiellement le 1er Juin 2025 à minuit et se clôtureront le 30 Octobre 2025 à minuit.  Lors de l'inscription, une licence FFA (Compétition, Athlé Running, Athlé Entreprise, Pass running), ou une  licence UFOLEP, en cours de validité vous sera demandée. Seront également acceptés les PPS, se substituant  aux certificats médicaux. Attention, ce PPS devra être fourni au plus tard le 30 avril 2025 au risque de  perdre son inscription sans remboursement possible. <a href="https://pps.athle.fr/">https://pps.athle.fr/</a></p>
    <p><strong>ATTENTION : Il n’y aura pas d’inscription sur place le jour de l’évènement.</strong></p>
    <br/>
    <h3>ARTICLE III - SECURITE ET MATERIEL OBLIGATOIRE</h3>
    <br/> 
    <p>Les parcours seront balisés par des banderoles réfléchissantes, marquage au sol et des panneaux. Des bénévoles seront présent tout le long du parcours en cas de problème.</p> 
    <p>Sur les deux parcours, <strong>les éco tasses seront fortement conseillé</strong> (pas de gobelet au ravitaillement).</p> 
    <p>Matériel obligatoire sur <strong>LES 3 CLOCHERS :</strong></p>
    <ul> 
      <li>Une lampe frontale en excellent état de marche</li>
      <li>Une lampe clignotante rouge de balisage à mettre à l’arrière</li>
    </ul>
    <p>Matériel conseillé:</p>
    <ul> 
      <li>Une veste imperméable</li>
      <li>Un téléphone</li>
    </ul>
    <p>Matériel obligatoire sur <strong>LE TOUR DES FONTAINES :</strong></p>
    <ul> 
      <li>Une lampe frontale en excellent état de marche</li>
    </ul>
    <p>Ravitaillements:</p>
    <ul> 
      <li><strong>LES 3 CLOCHERS :</strong> 2 postes eau et 2 postes eau + solide.</li>
      <li><strong>LE TOUR DES FONTAINES :</strong> 1 poste eau + solide.</li>
    </ul>
   
    <br/>
    <h3>ARTICLE IV - CLASSEMENTS ET RECOMPENSES</h3>
    <br/>
    <strong>LES 3 CLOCHERS :</strong>
    <ul>
      <li>Prix pour les 5 premiers (Femmes/Hommes) au scratch.</li>
      <li>Prix pour les premiers de chaque catégories.</li> 
      <li>Récompense finisher pour tous les arrivants.</li>
    </ul>
    <strong>LE TOUR DES FONTAINES :</strong>
    <ul>
      <li>Prix pour les 5 premiers (Femmes/Hommes) au scratch.</li>
      <li>Récompense finisher pour tous les arrivants.</li>
    </ul>
    <p>Prix non cummulables.</p>
    <br/>
    <h3>ARTICLE V - ANNULATION / RESPONSABILITES</h3>
    <br/>
    <p>Annulation en cas d’intempéries majeures (remboursement partiel ou report).</p>
    <p>Assurance responsabilité civile obligatoire. L’organisation décline toute responsabilité en cas d’accident.</p>
    <br/>
    <h3>ARTICLE VI - DROIT A L IMAGE</h3>
    <br/> 
    <p>Le concurrent donne à l’organisation un pouvoir tacite pour utiliser toutes photos, images ou vidéos le représentant. Les coureurs renoncent à tout recours à l'encontre de l'organisation à ce sujet.</p>
    <br/>   
    <h3>ARTICLE VII - ENVIRONNEMENT</h3>
    <br/>
    <p>Parcours en zone naturelle protégée : respect absolu de la faune/flore.</p>
    <p>·  Pénalités pour abandon de déchets: disqualification pour action volontaire</p>
    <br/>
    <p>Contact :<a href="mailto:trailduleberou@ik.me">trailduleberou@ik.me</a></p>
    <p>Consultez le plan détaillé avant la course.</p>

  </div>

</div>

{% endblock %}