/*---------------------- BASE ---------------------- */

@keyframes FadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
}
html {
  scroll-behavior: smooth;
}
body{
  font-family: AmsiPro-Ultra,sans-serif;
  color:gray;
  text-align:center;
  -webkit-font-smoothing: antialiased;
  animation: 0.8s ease-out 0s 1 FadeIn;
}
p, td {
  font-size: 1em !important;
}
span, i {
  font-size: 1.3em !important;
}
h1 {
  font-size: 2em !important;
}
h2{
    color: #FFA54C !important;
    font-size: 1.3em;
    font-weight: bold !important;
}
h3{
    color: black !important;
    font-size: 1.3em !important;
}
h5 {
  font-size: 1.2em !important;
  color: black !important;
}

/* very large */
@media (min-width: 1024px) {
  #page-container {
    height: 100vh;
  }
  /* display list when hover */
  .dropdown-menu {
    background-color: white !important;
    color: black !important;
    transition: all 0.5s;
    overflow: hidden;
    transform-origin: top center;
    transform: scale(1,0);
    display: block;
  }
  .dropdown:hover .dropdown-menu {
      transform: scale(1);
  }
}

/* When hamburger mode */
@media (max-width: 992px) {
    #logo_blanc {
    max-width: 100% !important;
    max-height: 100% !important;
  }
  .navbar {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    justify-content: center;
  }
  .navbar-fixed-top .nav-link {
    color:white !important;
  }

  /* when scrolled */
  .navbar-fixed-top.scrolled .nav-link {
    color:black !important;
    background-color: white;
  }
  .navbar-brand {
    display: none;
  }
  .navbar-fixed-top.scrolled .navbar-brand {
    position: relative !important;
    left: 50%;
    display:block;
    margin-right: 0px !important;
  }
  .navbar-fixed-top.scrolled #logo-top-container {
    align-items: normal !important;
  }
  #iv_elements_bouteille, #leberou_bouteille, #bieroglyphe_bouteille, #equilibrium_bouteille {
    min-height: 50vh;
  }
  .text_overlay {
    position: absolute;
    top: 20% !important;
    left: 30% !important;
    max-width: 40% !important;
  }
  .bgimg-brasserie, .bgimg-nos_bieres, .bgimg-contact {
    min-height: 150px;
  }
  #page-container {
    padding-top: 0px !important;
  }
}

/* very small */
@media (max-width: 425px) {

  .container-fluid {
    padding-left: 10px !important;
  }
  #iv_elements_bouteille, #leberou_bouteille, #bieroglyphe_bouteille ,#equilibrium_bouteille {
    min-height: 300px;
  }
  .text_overlay {
    display: none !important;
  }
  #table-md{
    display: none;
  }
  #table-sm{
    display: block !important;
  }
  #recolte, #brassage, #filtration, #fete1, #fete2, #fete3 {
    min-height: 200px !important;
  }
  #eglises_carte_container {
    display: none;
  }
}



/*---------------------- NAVBAR ---------------------- */

nav ul li a, nav ul li a:after,nav ul li a:before {
  transition: all .5s;
}
.navbar-light .navbar-toggler {
    color: rgba(0,0,0,.5);
    border-color: rgba(0,0,0,0);
}
.nav-link {
    font-size: 150%;
}
.navbar a {
  opacity: 0.7;
}
.navbar a:hover {
  opacity: 1;
}
.navbar-toggler {
  border: none;
  background: transparent !important;
}
.navbar-toggler:focus {
  outline: 0px;
}
.navbar-brand
{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.dropdown-menu {
  background-color: transparent;
  border: none;
  text-align: center;
  color: white;
}
.dropdown-item:active {
  color:#FFA54C;
  background-color: rgba(0,0,0,.7);
}
.hover-underline {
  position: relative;
}
.hover-underline:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: white;
  height: 2px;
}
.hover-underline:hover:after {
  width: 100%;
}

/* Hamburger */

.hamburger {
  width: 30px;
  height: 20px;
  position: relative;
  margin: 0px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}
.hamburger span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
  background: white;
}
.hamburger span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}
.hamburger span:nth-child(2) {
  top: 10px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}
.hamburger span:nth-child(3) {
  top: 20px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}
.hamburger.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 0px;
  left: 8px;
}
.hamburger.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}
.hamburger.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 21px;
  left: 8px;
}
/*-----------------*/

/* when scrolled */
.navbar-fixed-top.scrolled {
  background-color: #fff !important;
  transition: background-color 200ms linear;
  border-bottom: solid 0.5px #495057;
}
.navbar-fixed-top.scrolled .nav-link {
  color:#FFA54C !important;
}
.navbar-fixed-top.scrolled .nav-link.active {
  color: #7D797A !important;
}
.navbar-fixed-top.scrolled .dropdown-item {
  color:#FFA54C !important;
}
.navbar-fixed-top.scrolled .dropdown-item:active {
  color:#7D797A;
}
.navbar-fixed-top.scrolled .icon-bar {
  background-color: #7D797A !important;
}
.navbar-fixed-top.scrolled .hamburger span {
  background: #7D797A !important;
}
.navbar-brand.scrolled
{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display:block;
}
.navbar-fixed-top.scrolled .hover-underline:after {
  background: #FFA54C;
}
.navbar-fixed-top.scrolled .dropdown-menu {
  background-color: white !important;
  color: black !important;
}


/*---------------------- HOME ---------------------- */

.jumbotron {
  position: relative;
  overflow: hidden;
  background-color:black;
  transition: 0.4s; 
  height: 100vh;
}
.jumbotron video {
  position: absolute;
  z-index: 1;
  top: 0;
  width:100%;
  height:100vh;
  object-fit: cover;
  opacity:0.8;
}
.jumbotron .container {
  z-index: 2;
  position: relative;
  margin: auto;
}

#logo {
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}

.section {
    padding-top: 54px;
}

/*---------------------- TITRES  ---------------------- */
.bgimg-brasserie, .bgimg-nos_bieres, .bgimg-contact {
  position: relative;
  opacity: 0.5;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bgimg-brasserie {
  background-image: url("/media/images/brasserie.jpg");
  background-position-y: 70%;
  min-height: 120px;
}
.bgimg-nos_bieres {
  background-image: url("/media/images/nos_bieres.jpg");
  min-height: 120px;
}
.bgimg-contact {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),url("/media/images/contact.jpg");
  min-height: 150px;
}
.caption {
  position: absolute;
  left: 0;
  top: 38%;
  width: 100%;
  text-align: center;
  color: #000;
}

.caption span.border {
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}


/*---------------------- CONTACT---------------------- */
input, textarea {
    border-radius: 0px !important;
    border: 0px !important;
}

input {
    height: 62px;
    font-size: 1.25em;
}

#ENVOYER {
  background: none;
  border: 2px solid;
  padding: 1em 2em;
  color: white;
  transition: 0.25s;
  width: 100%;
}
#ENVOYER:hover,#ENVOYER:focus { 
    background-color: white;
    color:#495057;
    border-color: #495057;
  }
#adresse:hover, a:hover {
  opacity: 0.8;
  transition: 0.25s;
}
a, a:visited, a:hover {
    color: inherit;
}

/************************* NOS BIERES *************************** */

#table-sm {
    display: none;
}
.photo_biere:hover .text_overlay {
  display: block;
  backdrop-filter:blur(3px);
}
.text_overlay {
  display: none;
  color: white !important;
  font-size:1.5vw;
}

@media (max-width: 425px) {
  .nom_biere_logo_page {
  max-width:150px;
  max-height:150px;
  margin:2em 0em 2em 0em;
  }
}
@media (min-width: 425px) {
  .nom_biere_logo_page {
    max-width:250px;
    max-height:250px;
    margin:2em 5em 2em 5em;
  }
}