/*---------------------- BASE ---------------------- */

:root {
  --color1: #EFEEEC; /* gris */
  --color2: #FFF1DA; /* beige */
  --color3: #FFA54C; /* orange */
  --color4: brown;
  --font1: 'Helvetica Neue Light','Helvetica Neue','Maiandra GD' sans-serif;
  --font2: 'Navara', sans-serif;
  --font3: 'Bebas Neue', cursive;
}

html {
  scroll-behavior: smooth;
}
body{
  font-family: var(--font1);
  color:gray;
  -webkit-font-smoothing: antialiased;
  animation: 0.8s ease-out 0s 1 FadeIn;
  background-color: var(--color1);
  font-size: 1rem !important;
}
a, a:visited, a:hover {
  color: inherit;
}
h1 {
  color: var(--color1);
  font-size: 2em !important;
  font-family: var(--font2);
}
h1black {
  color: black;
  font-size: 2em !important;
  font-family: var(--font2);
}
h2{
    color: var(--col2); !important;
    font-size: 2em;
    font-family: var(--font2);
}
h3{
    color: gray !important;
    font-size: 1.3em !important;
    font-family: var(--font2);
}
h5 {
  font-size: 1.5em !important;
  font-family: var(--font2);
  color:white;
}
h6 {
  font-size: 1.5em !important;
  font-family: var(--font2);
  color:var(--color3);
}
.jumbotron {
  padding-top: 0;
  background-color: transparent;
  border-radius: 0px;
  margin-bottom: 0;
}
.anchor{
  display: block;
  height: 50px; /*same height as header*/
  margin-top: -3em; /*same height as header*/
}
.document-header {
  min-height: 80px;
}

.document {
  text-align:start;
  display: block;
}
.document p {
  font-size: 1em !important;
}
.box {
  height: 33.33%;
  width: 100%; 
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-inscription-courses {
  background: rgba(255,192,203,0.6);
}
.btn-inscription {
  text-align: center;
  padding: 1em 2em 1em 2em;
  cursor: pointer;
  color: white;
  transition: all 0.5s;
  position: relative;
}
.btn-inscription::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(255,255,255,0.1);
  transition: all 0.3s;
}
.btn-inscription:hover::before {
  opacity: 0 ;
  transform: scale(0.5,0.5);
}
.btn-inscription::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  border: 1px solid rgba(255,255,255,0.5);
  transform: scale(1.2,1.2);
}
.btn-inscription:hover::after {
  opacity: 1;
  transform: scale(1,1);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
#arrow_down {
  animation: MoveUpDown 1s linear infinite;
  position: absolute;
  left: 0; 
  right: 0; 
  margin-inline: auto; 
  width: fit-content;
}
#arrow_down:hover {
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

/* very large */
@media (min-width: 1024px) {
  #page-container {
    height: 100vh;
  }
  /* display list when hover */
  .dropdown-menu {
    background-color: transparent !important;
    color: black !important;
    transition: all 0.5s;
    overflow: hidden;
    transform-origin: top center;
    transform: scale(1,0);
    display: block;
  }
  .dropdown:hover .dropdown-menu {
      transform: scale(1);
  }
}

/* When hamburger mode */
@media (max-width: 992px) {
  .navbar {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    justify-content: center;
  }
  .navbar-fixed-top .nav-link {
    color:var(--color1) !important;
  }

  /* when scrolled */
  .navbar-fixed-top.scrolled .nav-link {
    color:black !important;
    background-color: white;
  }
  .navbar-brand {
    display: none;
  }
  .navbar-fixed-top.scrolled .navbar-brand {
    position: relative !important;
    left: 50%;
    display:block;
    margin-right: 0px !important;
  }
  .navbar-fixed-top.scrolled #logo-top-container {
    align-items: normal !important;
  }
  .text_overlay {
    position: absolute;
    top: 20% !important;
    left: 30% !important;
    max-width: 40% !important;
  }
  #page-container {
    padding-top: 0px !important;
  }
  #premiere_edition, #date_event {
    font-size: 1em !important;
  }
  #head_image, #trail_du_leberou {
    max-width:80% !important;
  }
}

@media (max-width: 767px) {
    .timeline {
        max-width: 98%;
        padding: 25px;
    }
    .timeline .event {
        padding-top: 30px;
    }
    .timeline .event:before {
        left: 0px;
        text-align: left;
    }
    .timeline .event:after {
        left: -31.8px;
    }
}

/* very small */
@media (max-width: 425px) {
  .container-fluid {
    padding: 0 !important;
    margin: 0 !!important;
    padding-left: 10px !important;
  }
  .text_overlay {
    display: none !important;
  }
  .display-lg {
    display: none !important;
  }
  .display-sm {
    display: block !important;
  }
}

/*---------------------- NAVBAR ---------------------- */

nav ul li a, nav ul li a:after,nav ul li a:before {
  transition: all .5s;
}
.navbar-light .navbar-toggler {
    color: rgba(0,0,0,.5);
    border-color: rgba(0,0,0,0);
}
.nav-link {
    font-size: 150%;
    color: var(--color1) !important;
}
.navbar a {
  opacity: 0.7;
}
.navbar a:hover {
  opacity: 1;
}
.navbar-toggler {
  border: none;
  background: transparent !important;
}
.navbar-toggler:focus {
  outline: 0px;
}
.navbar-brand
{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.dropdown-menu {
  background-color: transparent;
  border: none;
  text-align: center;
  color: var(--color1) !important;
}
.dropdown-item:active {
  color:var(--color3);
  background-color: rgba(0,0,0,.7);
}
.hover-underline {
  position: relative;
  color: var(--color1) !important;
}

.hover-underline:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background-color: var(--color1) !important;;
  background: rgba(0,0,0,.5);
  height: 2px;
}
.hover-underline:hover:after {
  width: 100%;
}

/* Hamburger */

.hamburger {
  width: 30px;
  height: 20px;
  position: relative;
  margin: 0px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}
.hamburger span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
  background: white;
}
.hamburger span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}
.hamburger span:nth-child(2) {
  top: 10px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}
.hamburger span:nth-child(3) {
  top: 20px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}
.hamburger.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 0px;
  left: 8px;
}
.hamburger.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}
.hamburger.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 21px;
  left: 8px;
}
/*-----------------*/

/* when scrolled */
.navbar-fixed-top.scrolled {
  background-color: #fff !important;
  transition: background-color 200ms linear;
  border-bottom: solid 0.5px #495057;
}
.navbar-fixed-top.scrolled .nav-link {
  color:var(--color3) !important;
}
.nav-link.scrolled {
  color: var(--color3) !important;
}
.navbar-fixed-top.scrolled .nav-link.active {
  color: #7D797A !important;
}
.navbar-fixed-top.scrolled .dropdown-item {
  color:var(--color3); !important;
}
.navbar-fixed-top.scrolled .dropdown-item:active {
  color:#7D797A;
}
.navbar-fixed-top.scrolled .icon-bar {
  background-color: #7D797A !important;
}
.navbar-fixed-top.scrolled .hamburger span {
  background: #7D797A !important;
}
.navbar-brand.scrolled
{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display:block;
}
.navbar-fixed-top.scrolled .hover-underline:after {
  background: var(--color3) !important;
}
.navbar-fixed-top.scrolled .dropdown-menu {
  background-color: white !important;
  color: black !important;
}


/*---------------------- HOME ---------------------- */

.document-header, #head {
  background-image: url(../images/LeberouBackground.JPG);
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  animation: 2s ease-out 0s 1 FadeIn;
  animation: zoom 30s infinite;
  -webkit-animation: zoom 30s infinite;
}
#head {
  position: relative;
  overflow: hidden;
  background-color:black;
  transition: 0.4s; 
  height: 100vh;
}
#head .container {
  z-index: 2;
  position: relative;
  margin: auto;
}
#head_image {
  animation: blur 4s;
  background-image: url(../images/LogoLeberouTrailBlancBackground.svg);
  background-size: cover;
}

#premiere_edition, #date_event {
  color:var(--color2);
  font-size: 1.3em;
  font-family: var(--font1);
  animation: cinematicInOut 4s;
}
#trail_du_leberou {
  animation: blur 4s;
}
#logo {
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}
#veillocort {
  background: linear-gradient(90deg, #000, var(--color2), #000);
  -webkit-background-clip: text;
  font-family: var(--font2);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-repeat: no-repeat;
  background-size: 80%;
  animation: shine 4s linear infinite;
  position: relative;
}
.animate-on-scroll {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.5s ease-in-out, transform 0.3s ease-in-out;
}
.animate-on-scroll.is-visible {
  opacity: 1;
  transform: translateY(0);
}
.section_title {
  background-color:var(--color3);
  padding: 2em;
  clip-path: polygon( 0 0, 100% 0, 100% 100%, 0 80%);
  opacity: 0;
  transform: translateY(-50px);
  filter: blur(30px);
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out, filter 0.5s ease-in-out;
}
.section_title.is-visible {
  opacity: 1;
  transform: translateY(0);
  filter: blur(0px);
}

/*---------------------- timeline ---------------------- */
.display-sm {
    display: none;
}
.timeline {
    border-left: 3px solid white;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    margin: 0 auto;
    letter-spacing: 0.2px;
    position: relative;
    line-height: 1.4em;
    font-size: 1.03em;
    font-family: var(--font1);
    padding: 50px;
    list-style: none;
    text-align: left;
    max-width: 70%;
}
.card {
  background: transparent;
  border: none;
  color: white;
}
.timeline .event {
    border-bottom: 1px dashed white;
    margin-bottom: 25px;
    position: relative;
}
.timeline .event:last-of-type {
    padding-bottom: 0;
    margin-bottom: 0;
    border: none;
}
.timeline .event:before,
.timeline .event:after {
    position: absolute;
    display: block;
    top: 0;
}
.timeline .event:before {
    left: -207px;
    content: attr(data-date);
    text-align: right;
    font-weight: 100;
    font-size: 0.9em;
    min-width: 120px;
}
.timeline .event:after {
    -webkit-box-shadow: 0 0 0 3px white;
    box-shadow: 0 0 0 3px white;
    left: -55.8px;
    border-radius: 50%;
    height: 9px;
    width: 9px;
    content: "";
    top: 5px;
}
.rtl .timeline {
    border-left: 0;
    text-align: right;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    border-right: 3px solid white;
}
.rtl .timeline .event::before {
    left: 0;
    right: -170px;
}
.rtl .timeline .event::after {
    left: 0;
    right: -55.8px;
}
.event-small {
  border-bottom: dashed white;
  padding-top: 1em;
}


/*---------------------- CARD Courses ---------------------- */
article {
  --img-scale: 1.001;
  --title-color:grey;
  --link-icon-translate: -20px;
  --link-icon-opacity: 0;
  --img-light:100%;
  position: relative;

  box-shadow: none;
  background-color: white;
  transform-origin: center;
  transition: all 0.4s ease-in-out;
  overflow: hidden;
}
article a::after {
  position: absolute;
  inset-block: 0;
  inset-inline: 0;
  cursor: pointer;
  content: "";
}
.article_title {
  margin: 0 0 18px 0;
  font-family: var(--font2);
  font-size: 1.3rem;
  letter-spacing: 0.06em;
  color: var(--title-color);
  transition: color 0.3s ease-out;
}
figure {
  
}
article img {
  max-width: 100%;
  transform-origin: center;
  transform: scale(var(--img-scale));
  transition: transform 0.4s ease-in-out;
  filter: brightness(var(--img-light));
}
.article-body {
  padding: 1em;
}
article a {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  color: #28666e;
}
article a:focus {
  outline: 1px dotted #28666e;
}
article a .icon {
  min-width: 24px;
  width: 24px;
  height: 24px;
  margin-left: 5px;
  transform: translateX(var(--link-icon-translate));
  opacity: var(--link-icon-opacity);
  transition: all 0.3s;
}

/* using the has() relational pseudo selector to update our custom properties */
article:has(:hover, :focus) {
  --img-scale: 1.1;
  --title-color: var(--color3);
  --link-icon-translate: 0;
  --link-icon-opacity: 1;
  --img-light:130%;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
.articles {
  margin-inline: auto;
  padding-inline: 24px;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
}
@container card (min-width: 380px) {
  .article-wrapper {
    display: grid;
    grid-template-columns: 100px 1fr;
    gap: 16px;
  }
  .article-body {
    padding-left: 0;
  }
  figure {
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
    aspect-ratio: 16 / 9;
    overflow: hidden;
  }
  figure img {
    height: 100%;
    aspect-ratio: 1;
    object-fit: cover;
  }
}
.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0); 
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap; 
  width: 1px;
}

/*---------------------- COURSES ---------------------- */
.title_courses {
  max-width: 540px !important;
}

@property --num {
  syntax: "<integer>";
  initial-value: 0;
  inherits: false;
}
#bg_30km, #bg_10km, #bg_marche, #bg_association {
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 300px;
  padding-top: 150px;"
}
#bg_30km {
  background-image: url(../images/traildestroisclochersheader.JPG);
}
#bg_10km {
  background-image: url(../images/tourdesfontainesheader.JPG);
}
#bg_marche {
  background-image: url(../images/baladeauclairdeluneheader.JPG);
}
#bg_association {
  background-image: url(../images/associationheader.JPG);
}
.counter-container {
  counter-reset: num var(--num);
  font: 800 40px system-ui;
  padding: 0.5rem;
  color:var(--color3); !important;
}
#counter_km_10 {
  animation: counter_km_10 2s forwards ease-in-out;
}
#counter_d_10 {
  animation: counter_d_10 2s forwards ease-in-out;
}
#counter_km_30 {
  animation: counter_km_30 2s forwards ease-in-out;
}
#counter_d_30 {
  animation: counter_d_30 2s forwards ease-in-out;
}
#counter_marche {
  animation: counter_km_marche 2s forwards ease-in-out;
}
.counter-container::after {
  content: counter(num);
}
footer {
  background-color: white;
}
#social_media {
  background-image: url(../images/LeberouBackground.JPG);
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* -------------------------- GALLERIE ------------------------------------ */

.container.gallery-container {
    color: #35373a;
    min-height: 100vh;
}
.tz-gallery {
    padding: 40px;
}

/* Override bootstrap column paddings */
.tz-gallery .row > div {
    padding: 2px;
}

.tz-gallery .lightbox img {
    width: 100%;
    border-radius: 0;
    position: relative;
}

.tz-gallery .lightbox:before {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -13px;
    margin-left: -13px;
    font-size: 26px;
    pointer-events: none;
    z-index: 9000;
    transition: 0.4s;
}

.tz-gallery .lightbox:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: rgba(255,241,218,0.7);
    content: '';
    transition: 0.4s;
}

.tz-gallery .lightbox:hover:after,
.tz-gallery .lightbox:hover:before {
    opacity: 1;
}

.baguetteBox-button {
    background-color: transparent !important;
}

/* -------------------------- KEYFRAMES ------------------------------------ */
@keyframes shine {
  0% {
    background-position-x: -500%;
  }
  100% {
    background-position-x: 500%;
  }
}
@keyframes zoom {
  0% {
    background-size: 100%;

  }
  50% {
    background-size: 150%;
  }
  100% {
    background-size: 100%;
  }
}
@keyframes FadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
}

@keyframes blur {
  0% {filter: blur(20px);},
  100% {filter: blur(0px);}
}

@keyframes MoveUpDown {
  0%, 100% {
    bottom: 0;
  }
  50% {
    bottom: 20px;
  }
}

@keyframes counter_km_10 {
  from {--num: 0;}to {--num: 10;}
}
@keyframes counter_km_30 {
  from {--num: 0;}to {--num: 30;}
}
@keyframes counter_km_marche {
  from {--num: 0;}to {--num: 5;}
}
@keyframes counter_d_10 {
  from {--num: 0;}to {--num: 200;}
}
@keyframes counter_d_30 {
  from {--num: 0;}to {--num: 500;}
}

@keyframes cinematicInOut {
  0% {
    text-shadow:0 0 1em var(--color1);
    opacity:0;
    margin-left:-.5em;
    color: transparent;
  }
  25% {
    text-shadow:0 0 0 var(--color1);
    opacity:1;
    margin-left:0;
    color: transparent;
  }
  80% {
    text-shadow:0 0 1em var(--color1);
    opacity:1;
    margin-left:0;
  }
  100% {
    text-shadow:0 0 0 var(--color1);
    opacity:1;
    margin-left:0;
  }
}